@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0a1429;
}
